<div ui-content-for="title">
  <span>
    <span ng-if='parent'>
      <a href='#/biblioteca'><i class="fa fa-home"></i></a>
      &nbsp;|&nbsp;
    </span>
    {{ current.name | pretty }}
  </span>
</div>

<div class="scrollable" ui-state="searchBar">
  <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />

  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group contenidos-items">
      <a class="list-group-item biblioteca-folder-up"
        href='#/biblioteca{{ parent.full }}' ng-if='parent'>
        <i class="fa fa-reply-all"></i>&nbsp;&nbsp;volver a <b>{{ parent.name | pretty }}</b>
      </a>

      <div class="biblioteca-item" ng-repeat="item in items">
        <a class="list-group-item"
          href='#/biblioteca{{ item.full }}' ng-if='item.type === "folder"'>
          <b>{{ item.name | pretty }}</b>
          <span class="biblioteca-file-count">
          &nbsp;{{ item.childrenCount }} archivos
          </span>
          <i class="fa fa-folder-open pull-right"></i>
        </a>
        <a class="list-group-item biblioteca-file" ng-if='item.type === "file"'
        href="{{item.url}}" target='_blank'>
          {{ item.name | pretty }} <i class="fa fa-external-link pull-right"></i>
        </a>
      </div>
    </div>
  </div>

  <!--
  <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
    <i class="fa fa-search"></i>
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>
  -->
</div>