<div ui-content-for="title">
  <span>Material de estudio</span>
</div>

<div class="scrollable" ui-state="searchBar">
  <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />

  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group contenidos-items">
      <a class="list-group-item" ng-click='open(parent)' ng-if='parent'>
        ...&nbsp;<i class="fa fa-level-up"></i>
      </a>

      <div ng-repeat="item in items">
        <a class="list-group-item" ng-click='open(item)' ng-if='item.type === "folder"'>
          {{ item.name }} <i class="fa fa-folder-open pull-right"></i>
        </a>
        <a class="list-group-item" ng-if='item.type === "file"'
        href="{{item.url}}" target='_blank'>
          {{ item.name }} <i class="fa fa-external-link pull-right"></i>
        </a>
      </div>
    </div>
  </div>

  <!--
  <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
    <i class="fa fa-search"></i>
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>
  -->
</div>