<div ui-content-for="title">
  <span>Material de estudio</span>
</div>

<div class="scrollable" ui-state="searchBar">
  <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />

  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group">
        <a href='#' class="list-group-item">
          ...&nbsp;<i class="fa fa-level-up"></i>
        </a>
        <a href='#' class="list-group-item">Item <i class="fa fa-external-link pull-right"></i></a>

      <a ng-repeat="item in items" href="#" class="list-group-item">
        {{ item.name }} <i class="fa fa-folder-open pull-right"></i>
      </a>
    </div>
  </div>

  <!--
  <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
    <i class="fa fa-search"></i>
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>
  -->
</div>