<div class="scrollable" ui-state="searchBar">

  <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
    <div class="list-group contenidos-items">

      <div class="biblioteca-item" ng-repeat="quiz in quizzes">
        <a class="list-group-item" href='#/evaluate/{{ quiz.code }}'>
          <b>{{ quiz.title }}</b>
          <span class="biblioteca-file-count">
            &nbsp;{{ quiz.questions.length }} preguntas
          </span>
          <span ng-if="quiz.description">
            <hr />
            {{ quiz.description }}
          </span>
          <i class="fa fa-graduation-cap pull-right"></i>
        </a>
      </div>
    </div>
  </div>

</div>
